<div class ="container-fluid">
    <form [formGroup] = "employee" (ngSubmit) = "handleClick()">
        <div class = "row">
            <input  type="number" formControlName = "id"/>
        </div>
        <div class ="row">
            <input type= "submit" value="Search" class = "btn btn-primary" />
        </div>
    </form>
    <div *ngIf ="emp" class="text-success">
        Hello {{emp.name}} , your salary is {{emp.salary}}
    </div>
    <div *ngIf ="err" class ="text-danger">
        {{err}}
    </div>
</div>