<div class = "col-md-12">
        <h2> Employee List</h2>
    <form [formGroup]="employee" (ngSubmit)="handleClick()">
        <div>
            <input type="submit" value="Get Employee Details" class ="btn btn-primary"/>
        </div>
        <div class ="table-responsive table-container">
        <table class ="table" *ngIf ="emp"> <!-- table-striped table-bordered-->
            <thead>
                <tr>
                    <!-- <th>Sr. No.</th> -->
                    <th>ID</th><th>Name</th><th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of emp">
                   <!-- <td>{{index+1}}</td>  -->
                   <td>{{e._id}}</td>
                   <td>{{e.name}}</td>
                   <td>{{e.salary}}</td>
                   <td>
                        <!-- <button 
                         (click) = "updateEmployee(employee.id)" 
                        class = "btn btn-primary"> Update</button>
                        <button 
                        (click) = "deleteEmployee(employee.id)" 
                        class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                        <button 
                        (click) = "employeeDetails(employee.id)" 
                        class = "btn btn-primary" style="margin-left: 10px"> View</button> -->
                        <button (click)="deleteEmp(e)" class="btn btn-info"> Delete</button>   <!--(click)="deleteEmp(emp)"-->
                        <button (click)="editEmp(e)" style="margin-left: 20px;" class="btn btn-info"> Edit</button> <!--(click)="editEmp(emp)"-->
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf ="err" class ="text-danger">
            {{err}}
        </div>
    </div>
    </form>
</div>


