<div class ="container-fluid " >
  <!-- justify-content-center d-flex flex-nowrap -->
  <!-- <app-tdf-demo></app-tdf-demo> -->
  <!-- <app-mdf-demo></app-mdf-demo> -->
  <!-- <div class ="row">
    <div class = "col-8 border-right">
      <h2>Get Employee by ID</h2>
        <app-fetch-employee></app-fetch-employee>
    </div>
  </div>
  <hr>
  <div class ="row">
    <div class = "col-8 border-right">
      <h2>Get all Employees</h2>
        <app-fetch-employees></app-fetch-employees>
    </div>
  </div>
  <hr>
  <div class ="row">
    <div class = "col-8 border-right">
      <h2>Store Employee</h2>
      <app-store-employee></app-store-employee>
    </div>
  </div>
  <hr>
  <div class ="row">
    <div class = "col-8 border-right">
      <h2>Update Employee</h2>
      <app-update-employee></app-update-employee>
    </div>

  </div> -->
  <div class="text-center">
    <h1>Employee Application</h1> <hr />
  </div>

  <div>
    <a routerLink="getAll" >Get Employees</a> | 
    <a routerLink="getById" >Get Employee By ID</a> |
    <a routerLink="store" >Store Employee</a> |
    <a routerLink="update" >Update Employee</a> |
    <a routerLink='delete'>Delete Employee</a> |
    <a routerLink="tdfDemo">TDF</a> |
    <a routerLink="mdfDemo">MDF</a> |
    <a routerLink="success">Success</a>
  </div>
  <router-outlet></router-outlet>
</div>
